*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(238,238,238);
    font-family: sans-serif;
}
.logo img{
  height:50px ;
  width: 40px;

}

 @media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  } 
} 

#header-img {
    height: 10rem;
    width: 5rem;
    margin-left: -9rem;
    margin-right: 26rem;
    
 
}


header {
    
    
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }

ul {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.li1 {
    margin-left: 5rem;
    margin-right: 5rem
}



.nav-link{
    text-decoration: none;
    color: black;
   
}

li{
  list-style: none;
}

#hero {
    
    margin-left: 29rem;
}

.h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#email {
    margin-left: 3.5rem;
    padding: 5px;
    width: 40%;
}

#submit {
    background-color: rgb(231, 9, 9);
    margin-left: 10.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
    text-decoration-color: white;
}

#features .describe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    margin-left: 10rem;

}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

#features .icon{
    margin-right: 5rem;
    padding-bottom: -70px;
    height: 40px;


}


p{
   
    margin-left: 7.5rem;
}

iframe{
  height: 350px;
  width: 700px;
}

#how-it-works{
    margin-top: 70px;
    display: flex;
    justify-content: center;

}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }

  .product .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  .product  h2 {
    margin-top: 15px;
  }
  
  .product  ol {
    margin: 15px 0;
  }
  
  .product ol  li {
    padding: 5px 0;
  }
  
  .product  button {
    border: 0;
    margin: 15px 0;
    padding: 10px;
    background-color: #db1d1d;
    font-weight: 400;
  }
  
  .product button:hover {
    background-color: rgb(206, 18, 18);
    transition: background-color: 1s;
  }

  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

@media (max-width: 550px) {
    #features .describe {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }

  footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
  }

footer  ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;

}

footer ul li {
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 25px;
 
 
}
 
.li2{
  margin-right: 0.02em;
}

footer li a{
  text-decoration:none;
  color: #000;

}

 

footer  span {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
  color: #444;
  padding: 0%;
  margin-top: -25px;
  margin-right: 20px;
}

